<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="favicon.ico" width="30" height="30" alt="">
  </a>
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <a class="btn btn-light btn-lg js-scroll-trigger" routerLink="/">Home</a>
    </li>
    <li role="presentation">
      <a class="btn btn-danger btn-lg js-scroll-trigger" routerLink="/aboutUs">About Us</a>
    </li>
    <li role="presentation">
      <a class="btn btn-light btn-lg js-scroll-trigger" routerLink="/products">Products</a>
    </li>
    <li role="presentation">
      <a class="btn btn-danger btn-lg js-scroll-trigger" routerLink="/contactUs">Contact Us</a>
    </li>
  </ul>
</nav>

<!-- Body -->

<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>

<!-- Map -->
<!-- <section id="contact" class="map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
  <br/>
  <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
  </small>
</section> -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h4>
          <strong>Deu Foods</strong>
        </h4>
        <p>Plot 26 PalmietFontein
          <br>Polokwane 0700 </p>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-phone fa-fw"></i>
            (015) 230 0002</li>
          <li>
            <i class="fa fa-envelope-o fa-fw"></i>
            <a href="info@deufoods.co.za">info@deufoods.co.za</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/DeuFoods">
              <i class="fa fa-facebook fa-fw fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter fa-fw fa-3x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-dribbble fa-fw fa-3x"></i>
            </a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Deu Foods Website 2017</p>
      </div>
    </div>
  </div>

</footer>
